@using BlazorTicTacToe.Shared
@using Microsoft.AspNetCore.SignalR.Client

@if(CurrentRoom is not null)
{
    <h3>@CurrentRoom.RoomName</h3>

    if (CurrentRoom.Players.Count < 2)
    {
        <h4>Waiting for another player to join...</h4>
    }
}

@code {
    [CascadingParameter]
    public HubConnection? HubConnection { get; set; }
    [Parameter]
    public GameRoom? CurrentRoom { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (HubConnection is null || CurrentRoom is null || HubConnection.ConnectionId is null)
        {
            return;
        }

        HubConnection.On<Player>("PlayerJoined", (player) =>
        {
            CurrentRoom.Players.Add(player);
            StateHasChanged();
        });
    }
}
